body{background-color: rgb(24, 242, 184);}
h2{border: solid 12px rgb(224, 102, 46);color: rgb(71, 15, 224);}
h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(226, 234, 231);}
img{border-radius: 200px;}
.purple-element{color: rgb(233, 17, 139);border: solid 5px rgb(226, 2, 81) ;background-color: rgb(226, 153, 153);}
